footer{
    background-color: var(--color-footer);
    height: 140px;
}
footer i{
    font-size: 50px;

}
.footer-social, .footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: #fff;
}
.footer-social{
    padding: 20px 20px 0 20px;
}
.footer-text{
    padding: 25px;
}