
.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.login-register-container{
    width: 20%;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-login input {
    min-width: 360px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 15px;
  }

.container-login button {
    min-width: 360px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
  }

  .login-link, .register-link{
    text-align: center;
    margin-top: 10px;
    letter-spacing: normal;
  }

  a {
    color: #000;
}
.register-container, .login-container{
  display: flex;
  flex-direction: column;
}
.password-things{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.password-things i {
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
}
#register_form, #login_form{
  margin-left: 50px;
}
.eyes{
  width: 50px;
  height: 40px;

}

@media (max-width: 768px) {
  .container-login input, .container-login button{
    min-width: 300px;
  }
}

