.navigation {
    background-color: var(--color-nav);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    width: 150%;
}

.logo {
    width: 120px;
    margin-top: 8px;
}
.space{
    font-size: 30px;
}
nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 300;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
    text-decoration: none;
}

li {
    list-style: none;
    margin: 10px;
}

nav ul li a:hover {
    background-color: #ceccd6;
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
    margin-right: 25px;
}

.hamburger:hover {
    background-color: #f6f4ff;
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background-color: #212526;
}

@media only screen and (max-width: 650px) {
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 103vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
        display: block;
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
    nav .logo{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    nav .logo img{
        width: 75%;
    }
    li.space{
        display: none;
    }
    nav ul {
        display: block;
        margin-top: 20px;
    }
    nav li{
        font-size: 20px;
    }
    .hamburger {
        display: block;
        margin-left: auto;
    }
}
