.top-text p {
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
}

.containers {
    margin: 15px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
}

.container-box {
    max-width: 370px;
    height: 350px;
    margin: 25px 25px 100px 25px;
    position: relative;
}
.container-box-image{
    overflow: hidden;
    position: relative;
}

.container-box img {
    width: 100%;
    height: auto;
    transition: transform 0.6s;
}
.container-box img:hover{
    transform: scale(1.1);
}
.container-box-title {
    font-size: 25px;
    color: grey;
}

.container-box-price {
    font-size: 20px;
    color: black;
}

.hidden {
    display: none !important;
}

@media (max-width: 600px) {
    .top-text p{
        font-size: 25px;
    }
    .container-box{
        margin-bottom: 10px;
        min-width: 280px;
    }
    .container-box-title {
        font-size: 20px;
    }
    
    .container-box-price {
        font-size: 15px;
    }

}
@media(max-width: 380px){
    .container-box{
        margin-bottom: auto;
        min-width: 250px;
    }
}